<section class="applications">
  <div class="container">
    <h2 class="applications__title">
      Карта лояльности хранится в штатных приложениях:
    </h2>

    <ul class="applications__list">
      <li class="applications__item">
        <a class="applications-card" href="#" target="_blank">
          <div class="applications-card__img">
            <img src="img/applications/1.png" alt="wallet" />
          </div>
          <span class="applications-card__name">Apple Wallet</span>
        </a>
      </li>
      <li class="applications__item">
        <a class="applications-card" href="#" target="_blank">
          <div class="applications-card__img">
            <img src="img/applications/2.png" alt="Google Pay" />
          </div>
          <span class="applications-card__name">Google Pay</span>
        </a>
      </li>
      <li class="applications__item">
        <a class="applications-card" href="#" target="_blank">
          <div class="applications-card__img">
            <img src="img/applications/3.png" alt="wallet" />
          </div>

          <span class="applications-card__name">Wallet Passes</span>
        </a>
      </li>
    </ul>
  </div>
</section>
