<section class="contacts">
  <div class="container">
    <div class="contacts__top">
      <h2 class="contacts__title">Наши салоны</h2>
      <div class="contacts__text">
        <p>Салоны Pafos Studio в Москве расположены не далеко от метро.</p>
        <p>Рядом всегда можно найти городскую парковку.</p>
      </div>
    </div>

    <div class="contacts-top">
      <div class="contacts-top__top">
        <div class="contacts-top__item active">
          <span class="contacts-top__name">Новокузнецкая</span>

          <address class="contacts-top__address">
            <p>г. Москва, ул. Садовническая 13 стр 12</p>
            <p>Ежедневно с 10:00 до 22:00</p>
          </address>
        </div>
        <div class="contacts-top__item">
          <span class="contacts-top__name">Римская</span>

          <address class="contacts-top__address">
            <p>г. Москва, ул. Сергия Радонежского д.27 стр 1</p>
            <p>Ежедневно с 10:00 до 22:00</p>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="contacts__content active">
    <div class="contacts__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaeb24bca9fca4ed478c4f23cc261a924a5575a8105aa0ddfa58c8e1cd4306909&amp;source=constructor"
        width="1000"
        height="575"
        frameborder="0"
      ></iframe>
    </div>

    <div class="contacts-box">
      <div class="contacts-box__top">
        <h3 class="contacts-box__name">Новокузнецкая</h3>
        
        <a
          class="contacts-box__whatsapp"
          href="#"
          target="_blank"
          aria-label="whatsapp"
        ></a>
      </div>

      <div class="contacts-box__connect">
        <span>Ежедневно с 10:00 до 22:00</span>
        <a class="contacts-box__phone" href="tel:+74994997750">
          8 499 499 77 50
        </a>
      </div>

      <ul class="contacts-box__list">
        <li class="contacts-box__item">• 10 минут от метро</li>
        <li class="contacts-box__item">• Угощения, фильмы, шампанское</li>
        <li class="contacts-box__item">
          • Бесплатные процедуры по карте лояльности
        </li>
        <li class="contacts-box__item">• Женская позитивная атмосфера</li>
      </ul>

      <button class="contacts-box__btn btn online-booking-btn" type="button">
        Оставить заявку
      </button>
    </div>
  </div>

  <div class="contacts__content">
    <div class="contacts__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaeb24bca9fca4ed478c4f23cc261a924a5575a8105aa0ddfa58c8e1cd4306909&amp;source=constructor"
        width="1000"
        height="575"
        frameborder="0"
      ></iframe>
    </div>

    <div class="contacts-box">
      <div class="contacts-box__top">
        <h3 class="contacts-box__name">Римская</h3>

        <a
          class="contacts-box__whatsapp"
          href="#"
          target="_blank"
          aria-label="whatsapp"
        ></a>
      </div>

      <div class="contacts-box__connect">
        <span>Ежедневно с 10:00 до 22:00</span>
        <a class="contacts-box__phone" href="tel:+74994997750">
          8 499 499 77 50</a
        >
      </div>

      <ul class="contacts-box__list">
        <li class="contacts-box__item">• 10 минут от метро</li>
        <li class="contacts-box__item">• Угощения, фильмы, шампанское</li>
        <li class="contacts-box__item">
          • Бесплатные процедуры по карте лояльности
        </li>
        <li class="contacts-box__item">• Женская позитивная атмосфера</li>
      </ul>

      <button class="contacts-box__btn btn online-booking-btn" type="button">
        Оставить заявку
      </button>
    </div>
  </div>
</section>
