<section class="get-card">
  <div class="container">
    <div class="get-card__content">
      <div class="get-card__top">
        <h2 class="get-card__title">Получите карту лояльности</h2>
        <p class="get-card__descr">Отсканируйте QR-код и накапливайте штампы</p>
      </div>
      <div class="get-card__inner">
        <div class="get-card__left">
          <img src="img/qr-code.png" alt="qr-code" />
        </div>
        <div class="get-card__right">
          <span class="get-card__name"
            >Срок действия карты 1 год с момента визита.</span
          >
          <p class="get-card__text">
            Штампы и вознаграждения не могут быть обменены, возвращены, заменены
            или выкуплены за наличные. Карты не подлежат передаче. Карта
            лояльности привязывается к номеру телефона. Таким образом, что бы
            начислился штамп записывайтесь с зарегистрированного в программе
            номера телефона.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
