<section class="hero" style="background-image: url('img/hero.jpg')">
  <div class="container">
    <div class="hero__offer">
      <h1 class="hero__title">
        Идеальный салон <br />
        За разумные деньги
      </h1>
      <p class="hero__text">
        В Pafos Studio не делают одолжений и не говорят свысока: мы дружелюбны и
        открыты. Всегда расскажем, объясним, поможем.
      </p>
      <div class="hero__btns">
        <button class="hero__btn btn btn--light" type="button">
          Оставить заявку
        </button>
        <button class="hero__btn btn btn--transparent" type="button">
          Записаться онлайн
        </button>
      </div>
    </div>
  </div>

  <div class="hero-contact">
    <ul class="hero-contact__list">
      <li class="hero-contact__item">
        <span>М Новокузнецкая</span>
        <a href="tel:+74994997750">8 (499) 499 77 50</a>
      </li>

      <li class="hero-contact__item">
        <span>М Римская</span>
        <a href="tel:+74994990917">8 (499) 499 09 17</a>
      </li>
    </ul>

    <a
      class="hero-contact__chevron"
      href="#services"
      aria-label="Смотреть ниже"
    >
      <svg>
        <use xlink:href="img/sprite.svg#chevron"></use>
      </svg>
    </a>
  </div>
</section>
