<section class="interior">
  <div class="container">
    <h2 class="interior__title">Наш интерьер</h2>

    <ul class="interior__list">
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/1.jpg"
      >
        <img src="img/interior/1.jpg" alt="interior" />
      </li>
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/2.jpg"
      >
        <img src="img/interior/2.jpg" alt="interior" />
      </li>
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/3.jpg"
      >
        <img src="img/interior/3.jpg" alt="interior" />
      </li>
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/4.jpg"
      >
        <img src="img/interior/4.jpg" alt="interior" />
      </li>
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/5.jpg"
      >
        <img src="img/interior/5.jpg" alt="interior" />
      </li>
      <li
        class="interior-item"
        data-fancybox="interior"
        data-src="img/interior/6.jpg"
      >
        <img src="img/interior/6.jpg" alt="interior" />
      </li>
    </ul>
  </div>
</section>
