<section class="loyalty-card">
  <div class="container">
    <h2 class="loyalty-card__title">Виртуальная карта лояльности</h2>

    <ul class="loyalty-card__list">
      <li class="loyalty-card-item">
        <img
          class="loyalty-card-item__img"
          src="img/loyalty-card/1.png"
          alt="card"
        />
        <h3 class="loyalty-card-item__title">Как это работает?</h3>
        <div class="loyalty-card-item__text">
          <p>
            Вы автоматически получаете по 1 штампу за оплату услуг, а так же за
            то, что делитесь с подругой вашей картой лояльности
          </p>
        </div>
      </li>
      <li class="loyalty-card-item">
        <img
          class="loyalty-card-item__img"
          src="img/loyalty-card/2.png"
          alt="card"
        />
        <h3 class="loyalty-card-item__title">Что это дает?</h3>
        <div class="loyalty-card-item__text">
          <p>
            При накоплении штампов вы будете получать бесплатные процедуры и
            скидки
          </p>
        </div>
      </li>
      <li class="loyalty-card-item">
        <img
          class="loyalty-card-item__img"
          src="img/loyalty-card/3.png"
          alt="card"
        />
        <h3 class="loyalty-card-item__title">Как получить?</h3>
        <div class="loyalty-card-item__text">
          <p>
            Отсканиоуйте QR - код с помощью камеры вашего мобильного телефона.
          </p>
          <p>Перейдите по ссылке, заполните поля.</p>
        </div>
      </li>
    </ul>

    <div class="loyalty-card__note">
      <div class="loyalty-card__descr">
        <p>
          <b>
            Карта автоматически появится в Apple Wallet или Google Pay. Если нет
            Googl Pay, можно установить Wallet Passes на Андроид.
          </b>
        </p>
        <p>
          Так же можно поделиться ссылкой с подругой, и получить за это штамп.
        </p>
      </div>

      <a class="loyalty-card__btn btn" href="#get-card" >
        Получить карту
      </a>
    </div>
  </div>
</section>
