<section class="prices" id="prices">
  <div class="container">
    <div class="prices__top">
      <h2 class="prices__title">Наши цены</h2>
      <p class="prices__text">
        Высокое качество, отвечаем за результат, отслеживаем все новинки beauty
        индустрии
      </p>
    </div>

    <ul class="prices__list">
      <li class="prices-item">
        <div class="prices-item__top">
          <span class="prices-item__left">
            Педикюр классический с гель лаком
          </span>
          <span class="prices-item__right">799 ₽</span>
        </div>
        <div class="prices-item__text">
          <p>
            И ароматный крем со смягчающим маслом по завершению процедуры в
            качестве комплимента
          </p>
        </div>
      </li>
      <li class="prices-item">
        <div class="prices-item__top">
          <span class="prices-item__left">Перманентный макияж бровей</span>
          <span class="prices-item__right">2250 ₽</span>
        </div>
        <div class="prices-item__text">
          <p>
            Бесплатная консультация, пигменты премиум сегмента
          </p>
        </div>
      </li>
      <li class="prices-item">
        <div class="prices-item__top">
          <span class="prices-item__left">
            Лазерная эпиляция всего тела полностью
          </span>
          <span class="prices-item__right">2 499 ₽</span>
        </div>
        <div class="prices-item__text">
          <p>
            Входят абсолютно все зоны без ограничений. Цена сохраняется
            на весь курс
          </p>
        </div>
      </li>
      <li class="prices-item">
        <div class="prices-item__top">
          <span class="prices-item__left">Ботокс для волос на любую длину</span>
          <span class="prices-item__right">2000 ₽</span>
        </div>
        <div class="prices-item__text">
          <p>
            Самый проверенный легендарный аппарат Honma Tokyo не оставит вас
            равнодушными
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
