<div class="price-list">
  <div class="price-list-top">
    <div class="container">
      <div class="price-list-top__slider swiper">
        <ul class="price-list-top__slides swiper-wrapper">
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Услуги колориста
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Услуги стилиста
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Ногтевой сервис
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Эпиляция сахар
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">Уходы</button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Эпиляция картриджный воск
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Эпиляция плёночный воск
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Лазерная эпиляция
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              SMAS Лифтuнг
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Перманентный макияж
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Наращивание ресниц
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Коррекция фигуры Emsculpt
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button class="price-list-top__btn" type="button">
              Услуги бровиста
            </button>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
  </div>
</div>
