<div class="price-list" id="prices">
  <div class="price-list-top">
    <div class="container">
      <div class="price-list-top__slider swiper">
        <ul class="price-list-top__slides swiper-wrapper">
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn active"
              data-tab-name="tab-1"
              type="button"
            >
              Услуги колориста
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-2"
            >
              Услуги стилиста
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-3"
            >
              Ногтевой сервис
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-4"
            >
              Эпиляция сахар
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-5"
            >
              Уходы
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-6"
            >
              Эпиляция картриджный воск
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-7"
            >
              Эпиляция плёночный воск
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-8"
            >
              Лазерная эпиляция
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-9"
            >
              SMAS Лифтuнг
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-10"
            >
              Перманентный макияж
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-11"
            >
              Наращивание ресниц
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-12"
            >
              Коррекция фигуры Emsculpt
            </button>
          </li>
          <li class="price-list-top__slide swiper-slide">
            <button
              class="price-list-top__btn"
              type="button"
              data-tab-name="tab-13"
            >
              Услуги бровиста
            </button>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="price-list__content tab-1 active">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание корней До 30 см</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание корней До 40 см</div>
          <div class="price-list__right">1300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание корней До 50 см</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Осветление корней До 30 см</div>
          <div class="price-list__right">1000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Осветление корней До 40 см</div>
          <div class="price-list__right">1500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Осветление корней До 60 см</div>
          <div class="price-list__right">2000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Окрашивание в 1 тон / тонирование До 20 см
          </div>
          <div class="price-list__right">1000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Окрашивание в 1 тон / тонирование До 30 см
          </div>
          <div class="price-list__right">1400</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Окрашивание в 1 тон / тонирование До 40 см
          </div>
          <div class="price-list__right">1600</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Окрашивание в 1 тон / тонирование До 50 см
          </div>
          <div class="price-list__right">2000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Окрашивание в 1 тон / тонирование До 60 см
          </div>
          <div class="price-list__right">2500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мелирование До 20 см</div>
          <div class="price-list__right">1000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мелирование До 30 см</div>
          <div class="price-list__right">1600</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мелирование До 40 см</div>
          <div class="price-list__right">2000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мелирование До 50 см</div>
          <div class="price-list__right">2500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мелирование До 60 см</div>
          <div class="price-list__right">3500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Прикорневое мелирование До 30 см</div>
          <div class="price-list__right">1000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Прикорневое мелирование До 40 см</div>
          <div class="price-list__right">1500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Прикорневое мелирование До 60 см</div>
          <div class="price-list__right">2000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Сложное окрашивание До 20 см</div>
          <div class="price-list__right">3000</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Сложное окрашивание До 50 см</div>
          <div class="price-list__right">3500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Сложное окрашивание До 60 см</div>
          <div class="price-list__right">4500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            * В любое окрашивание входит мытье, сушка, работа, материалы
          </div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-2">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Стрижка любой сложности До 40 см</div>
          <div class="price-list__right">399 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Стрижка любой сложности От 40 см</div>
          <div class="price-list__right">599 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Стрижка челки</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Укладка на брашинг До 20 см</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Укладка на брашинг До 30 см</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Укладка на брашинг До 40 см</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Укладка на брашинг До 50 см</div>
          <div class="price-list__right">600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Укладка на брашинг До 60 см</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коктейльная укладка До 20 см</div>
          <div class="price-list__right">700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коктейльная укладка До 30 см</div>
          <div class="price-list__right">1200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коктейльная укладка До 40 см</div>
          <div class="price-list__right">1600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коктейльная укладка До 60 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мытье / сушка До 40 см</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мытье / сушка От 40 см</div>
          <div class="price-list__right">200 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-3">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Маникюр классический + гель лак</div>
          <div class="price-list__right">599 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Маникюр классический + Luxio</div>
          <div class="price-list__right">849 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Маникюр классический без покрытия</div>
          <div class="price-list__right">350 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Доплата за комби руки</div>
          <div class="price-list__right">250 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Педикюр классический + гель лак</div>
          <div class="price-list__right">799 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Педикюр классический + Luxio</div>
          <div class="price-list__right">999 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Педикюр классический без покрытия</div>
          <div class="price-list__right">600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Доплата за клмби ноги</div>
          <div class="price-list__right">250 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Снятие гель лака</div>
          <div class="price-list__right">200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Снятие искусственных ногтей</div>
          <div class="price-list__right">500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Снятие геля</div>
          <div class="price-list__right">350 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ремонт ногтя</div>
          <div class="price-list__right">150 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Выравнивание или укрепление</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Дизайн ногтя</div>
          <div class="price-list__right">от 50 до 150 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-4">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Hоги полностью</div>
          <div class="price-list__right">1300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Голени</div>
          <div class="price-list__right">750 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Бедро</div>
          <div class="price-list__right">850 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подъем стопы</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Польцы</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ягодицы</div>
          <div class="price-list__right">500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки полностью</div>
          <div class="price-list__right">1100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки до локтя</div>
          <div class="price-list__right">500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Kuсти</div>
          <div class="price-list__right">250 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подмышки</div>
          <div class="price-list__right">250 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Плечи</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Тотальное бикини</div>
          <div class="price-list__right">750 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Все лицо</div>
          <div class="price-list__right">600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Зона лица</div>
          <div class="price-list__right">150 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Спина</div>
          <div class="price-list__right">1700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Поясница</div>
          <div class="price-list__right">700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Живот</div>
          <div class="price-list__right">500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Полоска на животе</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Грудь</div>
          <div class="price-list__right">600 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-5">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ботокс для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Счастье для волос на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Нанопластика на любую длину</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 50 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кератиновое выпрямление До 60 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Биксипластия До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 30 см</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 40 см</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 50 см</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Холодный ботокс До 60 см</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Густые / пористые или ниже 60 см</div>
          <div class="price-list__right">+ 500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-6">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Ноги полностью</div>
          <div class="price-list__right">650 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Голени</div>
          <div class="price-list__right">450 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Бедро</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подъем стопы</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Польцы</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ягодицы</div>
          <div class="price-list__right">450 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки полностью</div>
          <div class="price-list__right">450 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки до локтя</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Kuсти</div>
          <div class="price-list__right">100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подмышки</div>
          <div class="price-list__right">250 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Плечи</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Тотальное бикини</div>
          <div class="price-list__right">750 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Спина</div>
          <div class="price-list__right">850 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Поясница</div>
          <div class="price-list__right">450 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Полоска на животе</div>
          <div class="price-list__right">100 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-7">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Глубокое бикини</div>
          <div class="price-list__right">1100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подмышки</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Верхняя губа</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подбородок / скулы / зона лба</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ноздри</div>
          <div class="price-list__right">200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Полоска на животе</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коррекция бровей</div>
          <div class="price-list__right">400 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-8">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Все тело безлимит</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Hоги полностью</div>
          <div class="price-list__right">2300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Голени</div>
          <div class="price-list__right">500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Бедро</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подъем стопы</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Пальцы</div>
          <div class="price-list__right">200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки полностью</div>
          <div class="price-list__right">1100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки до локтя</div>
          <div class="price-list__right">700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Kисти</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Подмышки</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Плечи</div>
          <div class="price-list__right">600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Тотольное бикини</div>
          <div class="price-list__right">800 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Bсе лицо</div>
          <div class="price-list__right">1200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Зона лица</div>
          <div class="price-list__right">200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Спина</div>
          <div class="price-list__right">1300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Поясница</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Живот</div>
          <div class="price-list__right">1200 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Полоска но животе</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Грудь</div>
          <div class="price-list__right">900 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ареолы</div>
          <div class="price-list__right">300 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-9">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Облость вокруг глаз / лоб /</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Надбровноя зона / подчелюстная зона
          </div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Височная облость</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Зоно второго подбородка</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Шея</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Щеки</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Декольте</div>
          <div class="price-list__right">3700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Лицо полностью (челюстноя облость, носогубки, щеки, лоб, облость
            вокруг глаз)
          </div>
          <div class="price-list__right">5999 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Лицо полностью с зоной второго подбородка + шея + декольте
          </div>
          <div class="price-list__right">8999 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">
            Нижняя треть лица (щеки, челюстноя облость, носогубки) подчелюстноя
            зона u зона второго подбородка
          </div>
          <div class="price-list__right">4999 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кисти</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Зона над коленями</div>
          <div class="price-list__right">4000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Руки внутренняя поверхность</div>
          <div class="price-list__right">5000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ноги внутоенняя поверхность</div>
          <div class="price-list__right">7000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Живот</div>
          <div class="price-list__right">6000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ягодицы</div>
          <div class="price-list__right">6500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-10">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Губы полностью</div>
          <div class="price-list__right">2950 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Губы с растушевкой</div>
          <div class="price-list__right">2300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Губы контур</div>
          <div class="price-list__right">2100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Брови пудровое напыление</div>
          <div class="price-list__right">2800 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Брови волоски</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Стрелки</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Стрелки с ростушевкой</div>
          <div class="price-list__right">2300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Межресничка</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Удаление ПМ бровей лазер</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Удоление ПМ бровей ремувер</div>
          <div class="price-list__right">2500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Удаление ПМ губ лазер</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Удаление ПМ губ ремувер</div>
          <div class="price-list__right">3000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Анестезия</div>
          <div class="price-list__right">700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Мушка</div>
          <div class="price-list__right">500 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-11">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">1 D</div>
          <div class="price-list__right">1100 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">2 D</div>
          <div class="price-list__right">1350 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">2.5 D</div>
          <div class="price-list__right">1400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">3 D</div>
          <div class="price-list__right">1490 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">3.5 D</div>
          <div class="price-list__right">1700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">4 D</div>
          <div class="price-list__right">1999 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Уголки</div>
          <div class="price-list__right">799 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Mзгu6 L,M,N</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Кыйли / лучики / стрелки</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Лисий / укольный / мокрый</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Микс ресниц / цветные</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Демакияж</div>
          <div class="price-list__right">200 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-12">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">1 зона 30 мин</div>
          <div class="price-list__right">1500 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">1 зона 45 мин</div>
          <div class="price-list__right">1700 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">4 процедуры по 30 мин</div>
          <div class="price-list__right">4800 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">4 процедуры по 45 мин</div>
          <div class="price-list__right">6000 ₽</div>
        </li>
      </ul>
    </div>
    <div class="price-list__content tab-13">
      <ul class="price-list__list">
        <li class="price-list__item">
          <div class="price-list__left">Коррекция бровей</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Коррекция воском</div>
          <div class="price-list__right">400 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание краской</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание хной</div>
          <div class="price-list__right">600 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Окрашивание ресниц</div>
          <div class="price-list__right">300 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ламинирование ресниц</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Ламинирование бровей</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Долговременная укладка бровей</div>
          <div class="price-list__right">1000 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Скраб</div>
          <div class="price-list__right">150 ₽</div>
        </li>
        <li class="price-list__item">
          <div class="price-list__left">Макияж</div>
          <div class="price-list__right">2000 ₽</div>
        </li>
      </ul>
    </div>
  </div>
</div>
