<section
  class="referral-program"
  style="background-image: url('img/referral-program.jpg')"
>
  <div class="container">
    <div class="referral-program__wrapper">
      <div class="referral-program__offer">
        <h2 class="referral-program__title">Реферальная программа</h2>
        <ol class="referral-program__list">
          <li class="referral-program__item">
            Поделитесь с другом вашей картой лояльности
          </li>
          <li class="referral-program__item">
            Друг выпускает свою карту и приходит на свою первую процедуру
          </li>
          <li class="referral-program__item">
            Вы получаете штамп за то, что поделились картой
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
