<section
  class="safety"
  id="safety"
  style="background-image: url('img/safety-bg.jpg')"
>
  <div class="container">
    <div class="safety__top">
      <h2 class="safety__title">Безопасность</h2>
      <p class="safety__text">
        Мы удаляем много времени и средств, что бы сделать ваше пребывание у нас
        комфортным и безопасным
      </p>
    </div>

    <ul class="safety__list">
      <li class="safety-item safety-item--manicure">
        <h3 class="safety-item__title">Ногтевой Сервис</h3>
        <p class="safety-item__text">
          Наши мастера имеют санитарные книжки. Мы ведём учёт стерилизации. Всё
          инструменты стерилизуются по меркам Сан.Пин. Перед процедурой
          извлекаются из крафт пакета. Так же у нас всегда в наличии одноразовые
          наборы для ногтевого сервиса. Мастера в масках, перчатках.
        </p>
      </li>
      <li class="safety-item safety-item--hairdresser">
        <h3 class="safety-item__title">Парикмахерские услуги</h3>
        <p class="safety-item__text">
          Наши мастера имеют санитарные книжки. Мы ведём учёт стерилизации. Всё
          инструменты стерилизуются по меркам Сан.Пин. Перед процедурой
          извлекаются из крафт пакета. Так же у нас всегда в наличии одноразовые
          наборы для ногтевого сервиса. Мастера в масках, перчатках.
        </p>
      </li>
      <li class="safety-item safety-item--cosmetology">
        <h3 class="safety-item__title">Косметология</h3>
        <p class="safety-item__text">
          Наши мастера имеют санитарные книжки. Мы ведём учёт стерилизации. Всё
          инструменты стерилизуются по меркам Сан.Пин. Перед процедурой
          извлекаются из крафт пакета. Так же у нас всегда в наличии одноразовые
          наборы для ногтевого сервиса. Мастера в масках, перчатках.
        </p>
      </li>
    </ul>
  </div>
</section>
