<section class="services" id="services">
  <div class="container">
    <div class="services__top">
      <h2 class="services__title">Наши услуги</h2>
      <p class="services__text">
        Мы предоставляем насыщенный спектр бьюти услуг, по самы комфортным
        ценам. Так же мы отвечаем за безупречные стрижки, идеальные окрашивания,
        полезные уходы, наращивание ресниц и многое другое.
      </p>
    </div>

    <ul class="services__list">
      <li class="services-item">
        <img class="services-item__img" src="img/services/1.png" alt="card" />
        <h3 class="services-item__title">Парикмахерские услуги</h3>
      </li>
      <li class="services-item">
        <img class="services-item__img" src="img/services/2.png" alt="card" />
        <h3 class="services-item__title">Ногтевой сервис</h3>
      </li>
      <li class="services-item">
        <img class="services-item__img" src="img/services/3.png" alt="card" />
        <h3 class="services-item__title">Косметология</h3>
      </li>
    </ul>

    <div class="services__bottom">
      <button class="services-item__btn btn" type="button">Прайс - лист</button>
    </div>
  </div>
</section>
