<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title">Подпишитесь на нас в соц сетях</h2>
      <div class="subscribe__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--vk"
              href="#"
              target="_blank"
              aria-label="Vk"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--instagram"
              href="#"
              target="_blank"
              aria-label="instagram"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="#"
              target="_blank"
              aria-label="telegram"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
