<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title">Подпишитесь на нас в соц сетях</h2>
      <div class="subscribe__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--vk"
              href="https://vk.com/pafos_salon"
              target="_blank"
              aria-label="Vk"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--instagram"
              href="https://www.instagram.com/invites/contact/?i=xje3sixhtomk&utm_content=1hcfldt"
              target="_blank"
              aria-label="instagram"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--ok"
              href="https://ok.ru/group/70000000610239"
              target="_blank"
              aria-label="telegram"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="https://t.me/salon_pafos"
              target="_blank"
              aria-label="telegram"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
