<section class="works" id="works">
  <div class="container">
    <h2 class="works__title">Наши работы</h2>

    <div class="works__slider swiper">
      <ul class="works__slides swiper-wrapper">
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/1.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/2.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/3.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/4.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/5.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/6.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/7.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/8.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/9.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/10.jpg" alt="works" />
          </a>
        </li>
      </ul>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>

    <div class="works__bottom">
      <a
        class="works__btn btn"
        href="https://api.whatsapp.com/message/ADRP3DCZK4GAJ1?autoload=1&app_absent=0"
        target="_blank"
      >
        Записаться В WhatsApp
      </a>
      <a
        class="works__btn btn btn--white"
        href="https://n806775.yclients.com/"
        target="_blank"
      >
        Записаться онлайн
      </a>
    </div>
  </div>
</section>
