<section class="works">
  <div class="container">
    <h2 class="works__title">Наши работы</h2>

    <div class="works__slider swiper">
      <ul class="works__slides swiper-wrapper">
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/1.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/2.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/3.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/1.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/2.jpg" alt="works" />
          </a>
        </li>
        <li class="works__slide swiper-slide">
          <a class="works-card" href="#">
            <img src="img/works/3.jpg" alt="works" />
          </a>
        </li>
      </ul>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>

    <div class="works__bottom">
      <a class="works__btn btn" href="#">Записаться В WhatsApp</a>
      <button class="works__btn btn btn--white">Записаться онлайн</button>
    </div>
  </div>
</section>
